.all {
  max-width:100vw;
  max-height:100vh;
  display:inline-flex;
  /* padding:0px; */
}

.state{
  width:50vw;
  height:25vh;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  
}

.componentDidMount{
  width:50vw;
  height:25vh;
}

.componentDidUpdate{
  width:50vw;
  height:25vh;
}

.render{
  width:50vw;
  height:25vh;
}


