.all {
  max-width:100vw;
  max-height:100vh;
  display:inline-flex;
  /* padding:0px; */
}

.state{
  border: solid 1px black;
  width:50vw;
  height:25vh;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  
}

.componentDidMount{
  border: solid 1px black;
  width:50vw;
  height:25vh;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}

.comp{
  border: solid 1px black;
  width:50vw;
  height:25vh;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}